:root {
  --color-shark: #282c34;
  --color-aliceblue: #f0f8ff;
  --color-blue: #3F72AF;
}
html {
  height: 100%;
}

body {
  height: 100vh;
  display: block;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(128deg, rgba(72,173,255,1) 5%, rgba(51,107,255,1) 93%);
  font-size: 16px;
  color:  var(--color-aliceblue);
}

.test {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  position: relative;
  position: absolute;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
justify-content: space-between;

  max-width: 1024px;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  font-weight: 700;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  font-size: 16px;

  transform: rotate(45deg);
}
